input {
    file {
        path => "/Users/*******/ELK/ls-713/data_set/cookie_dummy.csv"
        start_position => "beginning"
	
    }
}

filter {
    csv {
	separator => ","
        columns => ["전투_인덱스","전투_승리","전투_트로피","전투_랭크","쿠키_index","쿠키_name","쿠키_star","쿠키_level","쿠키_skillLevel","가한_피해량","받은_피해량","준_회복량","받은_회복량","보물_name1","보물_name2","보물_name3","보물_level1","보물_level2","보물_level3"] 
    }
    
    mutate {
	convert => {	
		"전투_트로피" => "integer"
		"쿠키_index" => "integer"
		"쿠키_star" => "integer"
		"쿠키_level" => "integer"
		"쿠키_skillLevel" => "integer"
		"가한_피해량" => "integer"
		"받은_피해량" => "integer"
		"준_회복량" => "integer"
		"받은_회복량" => "integer"
		"보물_level1" => "integer"
		"보물_level2" => "integer"
		"보물_level3" => "integer"
	}

    }

    mutate {
	remove_field => ["message", "host"]	
    }    
}

output {
    stdout {}
    elasticsearch {
	cloud_id => ["*******"]
    cloud_auth => "*******:*******"
	index => "cookie_idx"
    }
}

