input {
    file {
        path => ["/Users/*******/Desktop/elastictest/oven.csv"]
        start_position => beginning
       
        type => "*******"
    }

}
filter {
  csv {
      separator => ","
      columns => ["아레나key","timestamp","공격팀_전체_전투력","방어팀_전체_전투력",
        "공격팀_닉네임","방어팀_닉네임","공격팀_트로피","방어팀_트로피",
        "공격팀_보물1_이름","공격팀_보물1_레벨",
        "공격팀_보물2_이름","공격팀_보물2_레벨",
        "공격팀_보물3_이름","공격팀_보물3_레벨",
        "방어팀_보물1_이름","방어팀_보물1_레벨",
        "방어팀_보물2_이름","방어팀_보물2_레벨",
        "방어팀_보물3_이름","방어팀_보물3_레벨",
        "공격팀_쿠키1_이름","공격팀_쿠키1_레벨","공격팀_쿠키1_등급","공격팀_쿠키1_전투력",
        "공격팀_쿠키2_이름","공격팀_쿠키2_레벨","공격팀_쿠키2_등급","공격팀_쿠키2_전투력",
        "공격팀_쿠키3_이름","공격팀_쿠키3_레벨","공격팀_쿠키3_등급","공격팀_쿠키3_전투력",
        "공격팀_쿠키4_이름","공격팀_쿠키4_레벨","공격팀_쿠키4_등급","공격팀_쿠키4_전투력",
        "공격팀_쿠키5_이름","공격팀_쿠키5_레벨","공격팀_쿠키5_등급","공격팀_쿠키5_전투력",
        "방어팀_쿠키1_이름","방어팀_쿠키1_레벨","방어팀_쿠키1_등급","방어팀_쿠키1_전투력",
        "방어팀_쿠키2_이름","방어팀_쿠키2_레벨","방어팀_쿠키2_등급","방어팀_쿠키2_전투력",
        "방어팀_쿠키3_이름","방어팀_쿠키3_레벨","방어팀_쿠키3_등급","방어팀_쿠키3_전투력",
        "방어팀_쿠키4_이름","방어팀_쿠키4_레벨","방어팀_쿠키4_등급","방어팀_쿠키4_전투력",
        "방어팀_쿠키5_이름","방어팀_쿠키5_레벨","방어팀_쿠키5_등급","방어팀_쿠키5_전투력",
        "공격팀_쿠키1_포지션","공격팀_쿠키2_포지션","공격팀_쿠키3_포지션","공격팀_쿠키4_포지션","공격팀_쿠키5_포지션",
        "방어팀_쿠키1_포지션","방어팀_쿠키2_포지션","방어팀_쿠키3_포지션","방어팀_쿠키4_포지션","방어팀_쿠키5_포지션",
        "공격팀_승패여부","방어팀_승패여부",
        "공격팀_쿠키1_공격량","공격팀_쿠키2_공격량","공격팀_쿠키3_공격량","공격팀_쿠키4_공격량","공격팀_쿠키5_공격량",
        "방어팀_쿠키1_공격량","방어팀_쿠키2_공격량","방어팀_쿠키3_공격량","방어팀_쿠키4_공격량","방어팀_쿠키5_공격량",
        "공격팀_쿠키1_피해량","공격팀_쿠키2_피해량","공격팀_쿠키3_피해량","공격팀_쿠키4_피해량","공격팀_쿠키5_피해량",
        "방어팀_쿠키1_피해량","방어팀_쿠키2_피해량","방어팀_쿠키3_피해량","방어팀_쿠키4_피해량","방어팀_쿠키5_피해량",
        "공격팀_쿠키1_준회복량","공격팀_쿠키2_준회복량","공격팀_쿠키3_준회복량","공격팀_쿠키4_준회복량","공격팀_쿠키5_준회복량",
        "방어팀_쿠키1_준회복량","방어팀_쿠키2_준회복량","방어팀_쿠키3_준회복량","방어팀_쿠키4_준회복량","방어팀_쿠키5_준회복량",
        "공격팀_쿠키1_받은회복량","공격팀_쿠키2_받은회복량","공격팀_쿠키3_받은회복량","공격팀_쿠키4_받은회복량","공격팀_쿠키5_받은회복량",
        "방어팀_쿠키1_받은회복량","방어팀_쿠키2_받은회복량","방어팀_쿠키3_받은회복량","방어팀_쿠키4_받은회복량","방어팀_쿠키5_받은회복량",
        "공격팀_쿠키1_타입","공격팀_쿠키2_타입","공격팀_쿠키3_타입","공격팀_쿠키4_타입","공격팀_쿠키5_타입",
        "방어팀_쿠키1_타입","방어팀_쿠키2_타입","방어팀_쿠키3_타입","방어팀_쿠키4_타입","방어팀_쿠키5_타입"]
  }
  date {
      match => ["timestamp",yyyyMMdd]
  }
  mutate {
        remove_field => ["message",host]
        convert => {
          "아레나key" => "string"
          "공격팀_전체_전투력" => "integer"
          "방어팀_전체_전투력" => "integer"
          "공격팀_닉네임" => "string"
          "방어팀_닉네임" => "string"
          "공격팀_트로피" => "integer"
          "방어팀_트로피" => "integer"
          "공격팀_보물1_이름" => "string"
          "공격팀_보물1_레벨" => "integer"
          "공격팀_보물2_이름" => "string"
          "공격팀_보물2_레벨" => "integer"
          "공격팀_보물3_이름" => "string"
          "공격팀_보물3_레벨" => "integer"
          "공격팀_쿠키1_이름" => "string"
          "공격팀_쿠키1_레벨" => "integer"
          "공격팀_쿠키1_등급" => "integer"
          "공격팀_쿠키1_전투력" => "integer"
          "공격팀_쿠키2_이름" => "string"
          "공격팀_쿠키2_레벨" => "integer"
          "공격팀_쿠키2_등급" => "integer"
          "공격팀_쿠키2_전투력" => "integer"
          "공격팀_쿠키3_이름" => "string"
          "공격팀_쿠키3_레벨" => "integer"
          "공격팀_쿠키3_등급" => "integer"
          "공격팀_쿠키3_전투력" => "integer"
          "공격팀_쿠키4_이름" => "string"
          "공격팀_쿠키4_레벨" => "integer"
          "공격팀_쿠키4_등급" => "integer"
          "공격팀_쿠키4_전투력" => "integer"
          "공격팀_쿠키5_이름" => "string"
          "공격팀_쿠키5_레벨" => "integer"
          "공격팀_쿠키5_등급" => "integer"
          "공격팀_쿠키5_전투력" => "integer"
          "방어팀_보물1_이름" => "string"
          "방어팀_보물1_레벨" => "integer"
          "방어팀_보물2_이름" => "string"
          "방어팀_보물2_레벨" => "integer"
          "방어팀_보물3_이름" => "string"
          "방어팀_보물3_레벨" => "integer"
          "방어팀_쿠키1_이름" => "string"
          "방어팀_쿠키1_레벨" => "integer"
          "방어팀_쿠키1_등급" => "integer"
          "방어팀_쿠키1_전투력" => "integer"
          "방어팀_쿠키2_이름" => "string"
          "방어팀_쿠키2_레벨" => "integer"
          "방어팀_쿠키2_등급" => "integer"
          "방어팀_쿠키2_전투력" => "integer"
          "방어팀_쿠키3_이름" => "string"
          "방어팀_쿠키3_레벨" => "integer"
          "방어팀_쿠키3_등급" => "integer"
          "방어팀_쿠키3_전투력" => "integer"
          "방어팀_쿠키4_이름" => "string"
          "방어팀_쿠키4_레벨" => "integer"
          "방어팀_쿠키4_등급" => "integer"
          "방어팀_쿠키4_전투력" => "integer"
          "방어팀_쿠키5_이름" => "string"
          "방어팀_쿠키5_레벨" => "integer"
          "방어팀_쿠키5_등급" => "integer"
          "방어팀_쿠키5_전투력" => "integer"
          "공격팀_쿠키1_포지션" => "string"
          "공격팀_쿠키2_포지션" => "string"
          "공격팀_쿠키3_포지션" => "string"
          "공격팀_쿠키4_포지션" => "string"
          "공격팀_쿠키5_포지션" => "string"
          "방어팀_쿠키1_포지션" => "string"
          "방어팀_쿠키2_포지션" => "string"
          "방어팀_쿠키3_포지션" => "string"
          "방어팀_쿠키4_포지션" => "string"
          "방어팀_쿠키5_포지션" => "string"
          "공격팀_승패여부" => "string"
          "방어팀_승패여부" => "string"
          "공격팀_쿠키1_공격량" => "integer"
          "공격팀_쿠키2_공격량" => "integer"
          "공격팀_쿠키3_공격량" => "integer"
          "공격팀_쿠키4_공격량" => "integer"
          "공격팀_쿠키5_공격량" => "integer"
          "방어팀_쿠키1_공격량" => "integer"
          "방어팀_쿠키2_공격량" => "integer"
          "방어팀_쿠키3_공격량" => "integer"
          "방어팀_쿠키4_공격량" => "integer"
          "방어팀_쿠키5_공격량" => "integer"
          "공격팀_쿠키1_피해량" => "integer"
          "공격팀_쿠키2_피해량" => "integer"
          "공격팀_쿠키3_피해량" => "integer"
          "공격팀_쿠키4_피해량" => "integer"
          "공격팀_쿠키5_피해량" => "integer"
          "방어팀_쿠키1_피해량" => "integer"
          "방어팀_쿠키2_피해량" => "integer"
          "방어팀_쿠키3_피해량" => "integer"
          "방어팀_쿠키4_피해량" => "integer"
          "방어팀_쿠키5_피해량" => "integer"
          "공격팀_쿠키1_준회복량" => "integer"
          "공격팀_쿠키2_준회복량" => "integer"
          "공격팀_쿠키3_준회복량" => "integer"
          "공격팀_쿠키4_준회복량" => "integer"
          "공격팀_쿠키5_준회복량" => "integer"
          "방어팀_쿠키1_준회복량" => "integer"
          "방어팀_쿠키2_준회복량" => "integer"
          "방어팀_쿠키3_준회복량" => "integer"
          "방어팀_쿠키4_준회복량" => "integer"
          "방어팀_쿠키5_준회복량" => "integer"      
          "공격팀_쿠키1_받은회복량" => "integer"
          "공격팀_쿠키2_받은회복량" => "integer"
          "공격팀_쿠키3_받은회복량" => "integer"
          "공격팀_쿠키4_받은회복량" => "integer"
          "공격팀_쿠키5_받은회복량" => "integer"
          "방어팀_쿠키1_받은회복량" => "integer"
          "방어팀_쿠키2_받은회복량" => "integer"
          "방어팀_쿠키3_받은회복량" => "integer"
          "방어팀_쿠키4_받은회복량" => "integer"
          "방어팀_쿠키5_받은회복량" => "integer"
          "공격팀_쿠키1_타입" => "string"
          "공격팀_쿠키2_타입" => "string"
          "공격팀_쿠키3_타입" => "string"
          "공격팀_쿠키4_타입" => "string"
          "공격팀_쿠키5_타입" => "string"
          "방어팀_쿠키1_타입" => "string"
          "방어팀_쿠키2_타입" => "string"
          "방어팀_쿠키3_타입" => "string"
          "방어팀_쿠키4_타입" => "string"
          "방어팀_쿠키5_타입" => "string"
        }
  }  
  

 

}


output {
    stdout {codec => json}
    elasticsearch {
        cloud_id => "*******"
        cloud_auth => "*******:*******"
        index => "ovens-log-%{+yyyy.MM.dd}"
    
    }
}